.headline_cart{
    font-size: 30px;
    color: #333;
    text-align: center;
    margin: 20px 0px 20px 0px;
}
.container p{
    font-size: 20px;
    text-align: center; 
    padding-bottom: 100px; 
}
.cart-table {
    width: 85%;
    border-collapse: collapse;
    margin: 40px 73px 20px 87px;
 }

  .cart-table th, 
  .cart-table td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    /* border-radius: 10px; */
  }
  
  .cart-table th {
    background-color:#2874f0; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
    

  }
  
  .cart-item-image {
    padding: 10px;
    vertical-align: middle;
  }
  
  .product-image {
    width: 60px;
    height: auto;
    border-radius: 8px;
  }
  
  .cart-item-title {
    font-weight: 600;
    color: #333;
    vertical-align: middle;
  }
  
  .cart-item-price {
    vertical-align: middle;
  }
  
  .cart-item-quantity {
    text-align: center;
    vertical-align: middle;
  }
  
  .cart-item-remove {
    text-align: center;
    vertical-align: middle;
  }
  
  .remove-btn {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .remove-btn:hover {
    background-color: #ff0000;
  }
  
  .cart-total {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 20px 100px 0px 0px;
  }
  
  .checkout-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 25px;
  }
  
  .checkout-btn:hover {
    background-color: #218838;
  }
  

  .wholesome {
    width: 80%;
    padding: 50px;
    margin: 0 auto;
    border-radius: 10px;
    height: 600px;
    background-color: #c1d4f3;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
}

.wholesome::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
