.border {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth hover effect */
}

.border:hover {
    transform: translateY(-10px); /* Move the card slightly upward */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.ImagesBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.ImagesBox img {
    width: auto;
    height: 200px;
    object-fit: contain;
    margin: 0 auto;
}

.pricing {
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.product_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.description {
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: #777;
    margin: 10px 0;
}

.description.collapsed {
    max-height: 3em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.description.expanded {
    max-height: none; /* Expand the description to its full height */
    white-space: normal;
}

.addtocart {
    background-color: #f1961b;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    margin-top: auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addtocart:hover {
    background-color: #e08514;
}

.text-blue-500 {
    color: #1d4ed8;
    cursor: pointer;
}

.text-blue-500:hover {
    text-decoration: underline;
}


@media (max-width: 480px) {

    .ImagesBox {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    
}