.border {
    border: 1px solid #656565;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(253, 252, 252);
  }
  
  .ImagesBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }
  
  .ImagesBox img {
    width: auto;
    height: 200px;
  }
  
  .pricing {
    font-weight: 600;
    font-size: 18px;
  }
  
  .product_details {
    padding-top: 20px;
  }
  
  .description {
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .description.collapsed {
    max-height: 3em; /* Adjust the height according to your need */
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .description.expanded {
    max-height: 500px; /* This allows for a large amount of text */
  }
  
  .addtocart {
    display: block;
    background-color: #f5e2ca;
    padding: 6px 20px;
    color: #000000;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: 500; 
  }
  